
<td class="htmlres">
			<%= text_field :member_due,:member, :id=>"member_due", :size => "30" %></td>
<%@d=[]
    a=@members
      a.each do|s|
        h={}
        h["id"]=s.name
        h["name"]=s.name
        @d << h
      end
      l=sanitize(@d.to_json)%>
      <script type="text/javascript">
$(function (){
var availableTags = <%=l%>;
  $('#member_due').tokenInput(availableTags, { 
      preventDuplicates: true,
       theme: "facebook",
  }); 
$("#token-input-member_due").attr("placeholder","Select Members")
	});

</script>