<table id="table_style">
	<tr>
		<td>Location Name : </td>
		<td><%= text_field :location, :name, :size => "30" %></td>
	</tr>
	<tr>
		<td>District : </td>
		<td><%= text_field :location, :district, :size => "30" %></td>
	</tr>
	
</table>


