<table id="table_style">
	<tr>
		<td>Bank Name : </td>
		<td><%= text_field :bank, :bank_name, :size => "30" %></td>
	</tr>
	<tr>
		<td>Branch : </td>
		<td><%= text_field :bank, :branch, :size => "30" %></td>
	</tr>
	<tr>
		<td>Account Name : </td>
		<td><%= text_field :bank, :account_name, :size => "30" %></td>
	</tr>
	<tr>
		<td>Account # : </td>
		<td><%= text_field :bank, :account_number, :size => "30" %></td>
	</tr>
</table>


