<table id="table_style">
	<tr>
		<td>Name : </td>
		<td><%= text_field :group, :name, :size => "10" %></td>
	</tr>
	<tr>
		<td>Saving Amount : </td>
		<td><%= text_field :group, :saving_amount, :size => "5" %></td>
	</tr>
	<tr>
		<td>Due Amount : </td>
		<td><%= text_field :group, :due_amount, :size => "5" %></td>
	</tr>
</table>



