<div id="content">
	<ul class="slideshow">
	  <li class="show"><img width="706" height="270" src="/assets/1.jpg" alt="image one" /></li>
	  <li><img width="706" height="270" src="/assets/2.jpg" alt="image two" /></li>
	  <li><img width="706" height="270" src="/assets/3.jpg" alt="image three" /></li>
	</ul>
	<div id="image_des1">
	  <ul class="image_des">
	  <li class="show" id="1"><p>Drinking water...</p></li>
	  <li id="2"><p>Students...</p></li>
	  <li id="3"><p>School... </p></li>
	  </ul>
	</div>
</div>