<table id="table_style">
	<tr>
		<td>Event Name : </td>
		<td><%= text_field :event, :name, :size => "30" %></td>
	</tr>
	<tr>
		<td>Description : </td>
		<td><%= text_area :event, :description, :cols => 30, :rows => 4 %></td>
	</tr>
</table>


