<table><tr><td><h2>Edit Donation</h2></td></tr></table>
<br/>
<%= form_for(@donation, :url => donation_path(@donation), :method => "put") do |f| %>
  <%= render :partial => "form" %>
  <br/>
  <table><tr><td><%= submit_tag "Save" %></td></tr></table>
<% end %>