<table id="table_style">
	<tr>
		<td>Gallery Name : </td>
		<td><%= text_field :gallery, :name, :size => "30" %></td>
	</tr>
	<tr>
		<td>Description : </td>
		<td><%= text_field :gallery, :description, :size => "30" %></td>
	</tr>
</table>


