<table><tr><td><h2>Edit Gallery</h2></td></tr></table>
<br/>
<%= form_for(@gallery, :url => gallery_path(@gallery), :method => "put") do |f| %>
  <%= render :partial => "form" %>
  <br/>
  <table><tr><td><%= submit_tag "Save" %></td></tr></table>
<% end %>
