<p style='margin-left:322px'><%= link_to "<button>New Gallery</button>".html_safe, new_gallery_path %></p>
	
<table>
	<%for group in @galleries.in_groups_of(3)%>
	  <tr>
		  <%for gallery in group.compact %>
		    <td>
		      <ul class="otis">
		      	<li><%= link_to gallery.name, images_gallery_path(gallery) %></li>
	     	    <li style="margin-top:10px"><%= link_to image_tag(gallery.images.first.image_url(:thumb)), images_gallery_path(gallery) if gallery.images.first %></li>
		      </ul>
		    </td>    	
		  <%end%>
	  </tr>
	<%end%>
</table>

