<table><tr><td><h2>New Gallery</h2></td></tr></table>
<br/>
<%= form_for(@gallery, :url => galleries_path, :method => "post") do |f| %>
  <%= render :partial => "form" %>
  <br/>
  <table><tr><td><%= submit_tag "Save" %></td></tr></table>
<% end %>
