<h2>Edit Expence</h2>
<br/>
<%= form_for(:expence, :url => expence_path(@donation), :method => "put") do |f| %>
  <%= render :partial => "form" %>
  <br/>
  <table><tr><td><%= submit_tag "Save" %></td></tr></table>
<% end %>