<table><tr><td><h2>Edit Expences</h2></td></tr></table>
<br/>
<%= form_for(@expence, :url => expence_path(@expence), :method => "put") do |f| %>
  <%= render :partial => "form" %>
  <br/>
  <table><tr><td><%= submit_tag "Save" %></td></tr></table>
<% end %>