<table><tr><td><h2>New Expence</h2></td></tr></table>
<br/>
<%= form_for(@donation, :url => expences_path, :method => "post") do %>
  <%= hidden_field_tag "max_row", "1" %>
  <%= render :partial => "form" %>
  <br/>
  <table><tr><td><%= submit_tag "Save", :onclick => "return validation();" %></td></tr></table>
<% end %>

<script>
  function validation(){
  	if($("#event_id").val() == ""){
  	  alert("Please select event.")	
  	  return false;
  	}
  }
</script>